<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>disable_explicit_app_prompt_and_autologon</key>
    <integer>1</integer>
    <key>AppPrefixAllowList</key>
    <string>com.microsoft.,com.jamf.,com.apple.</string>
    <key>browser_sso_disable_mfa</key>
    <integer>1</integer>
    <key>Enable_SSO_On_All_ManagedApps</key>
    <integer>1</integer>
    <key>browser_sso_interaction_enabled</key>
    <integer>1</integer>
</dict>
</plist>
